    .row {
        background-color: black;
    }
    .grey {
        background-color: #1b1b1c;
    }
    .black {
        background-color: black;
    }
    .gold {
        background-color:gold;
    }
    .menu div {
        height: 20vh;
    }
    .mainc div {
        height: 60vh;
    }
    .footer div {
        height: 20vh;
    }

    #mobile-navbar {
        display: none ;

    }
    #mobile-navbar a {
        display: none;
        color: white;
        font-size: 22px;
        font-weight: bold;
        padding-right: 6px;
    }
    .mobile-navbar {

        display: none ;


    }
.photos {
    display: inline-block;
}
.photos img {
    width: 200px;
    height: 200px;
    padding: 6px;
    border-style: groove;
}
@media only screen and (max-width: 2768px) {
    .menu-settings {
        display: block;
    }
    .mobile-navbar {
        display: none;
    }
}
@media only screen and (max-width: 765px) {
    .image-top div {
        height: 40vh;

    }
    .mobile-navbar {

        display: block;
        position: relative;
        width: 100%;


    }
    #mobile-navbar {

        background-color: black;
        display: none;
        width: 100%;

    }
    #mobile-navbar a {
        
        display: block;
        padding-top: 10px;
    }

    
    .menu-settings {
        display: none;
    }
    .menu {
        height: 15vh;
    }
    .hide-mobile {
        height: 1vh;
        display: none;
    }
}
.mainc div {
    height: 90vh;
}

.menu-settings a {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    
    
}
.band-image {
    background-image: url("../media/band-assets/images/band.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image-top {
    background-image: url("../media/band-assets/images/monkees.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    z-index: 999;
    display: inline-block;
    position: relative;
    width: 100%;

}
.bottom-images {
    
    float: left;
    width: 25%;
    height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  
}
.bottom-images:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);        
}
.content-div {
    padding: 10%;
    color: silver;
    overflow-y: scroll;
}
.social-img {
    width: 300px;
    height: 100px;
}