    .row {
        background-color: black;
    }
    .grey {
        background-color: #1b1b1c;
    }
    .black {
        background-color: black;
    }
    .gold {
        background-color:gold;
    }
    .menu div {
        height: 20vh;
    }
    .mainc div {
        height: 60vh;
    }
    .footer div {
        height: 20vh;
    }
    .menu-settings a {
        color: black;
        font-family: "Times New Roman", Times, serif;
        font-size: 30px;
        font-weight: bold;
        
    }
    .band-image {
        background-image: url("media/band-assets/images/band.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .image-top {
        background-image: url("media/band-assets/images/monkees.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;       
    }